body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  border: 1px solid black;
}
.box {
  width: 100px;
  height: 100px;
  background-color: #46a646;
  border: 1px solid #46a646;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
#start-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
